body {
    background-color: rgb(101, 220, 164);
}

h1 {
    color: rgb(149, 172, 223);
    font-family: 'Courier New';
}

h2 {
    color: red;
    background-color: yellow;
    font-family: Georgia;
}

strong, b, i, em, u {
    background-color: #d42;
}

h1, h2 {
    border: 2px solid black;
    text-align: center;
}

p {
    outline: 5px dotted #d05;
    background-color:rgb(141, 255, 194);
    text-align: justify;
    padding: 40px;
    margin: 60px;
}

p.wazne {
    font-size: 24pt;
    color: #d55;
}

h2.wazne {
    color: #292;
}

.wazne {
    border: 16px solid white;
}
