div.ikonka {
    font-size: 6em;
}

div.blok {
    border: 8px solid red;
    width: 27%;
}

div.bloki {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 8px solid blue;
}
